
<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">New project</h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<%= form_for Project.new do |p| %>
  <div class="modal-body">
    <%= p.text_field :name, {class: 'chat-input form-control', placeholder: 'project name'}  %>
  </div>
  <div class="modal-footer">
    <%= p.submit "Save", {class: 'btn btn-primary'} %>
  </div>
<% end %>
