<% @projects.each do |p| %>
  <h1 class = "btn btn-outline-primary projectAction"><%= "#{p.name}" %></h1>
  <br/>
  <%@tasks = Task.where(project_id: p.id).all %>
  <% @tasks.each do |t| %>
    <h3 class = "btn btn-outline-primary taskAction"><%= "#{t.description}" %></h3>
  <% end %>
  <br/>
<% end %>
<!--ебусь с модалками-->
<%= link_to 'Add user', new_modal_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

