<div class="container">
  <div class="text-center">
    <h1>SIMPLE TODO LIST</h1>
    <h3>FROM RUBY GARAGE</h3>
  </div>
  <% @projects.each do |p| %>
  <div class="project border-bottom m-5">
    <div class="bg-primary project-heading" style="display: flex">
      <h5 class=" text-white mr-auto"><img src="https://img.icons8.com/ios/30/000000/google-sites.png" class="p-2"><%= "#{p.name}" %></h5>
      <div class="p-2 project-buttons">
        <button type="button" class="btn btn-link">
          <i class="fas fa-pencil-alt text-white"></i>
        </button>
        <span class="separator"></span>
        <button type="button" class="btn btn-link">
          <i class="fas fa-trash-alt text-white"></i>
        </button>
      </div>
    </div>
    <table class="table table-bordered table-hover">
      <div class="input-group p-3 bg-light" >
        <i class="p-2 fas fa-plus"></i>
        <input type="text" class="chat-input form-control">
        <div class="input-group-append">
            <input class="chat-input form-control input-group-append" type="datetime-local" value="" id="example-datetime-local-input" style="border-radius: 0">
        </div>
        <div class="input-group-append">
          <button class="btn btn-success chat-input border-success border-left-0">Add Task</button>
        </div>
      </div>
      <% @tasks = Task.where(project_id: p.id).all %>
      <tbody>
      <% @tasks.each do |t| %>
        <tr>
          <td class="checkBox">
            <div class="pretty p-image p-plain" style="margin-right: 2px">
              <input type="checkbox" />
              <div class="state">
                <%= image_tag("check.png", class: "image") %>
                <label></label>
              </div>
            </div>
          </td>
          <td class="description"><%= "#{t.description}" %></td>
          <th scope="col" style="width: 165px" class="th-hovering">
            <div class="task-buttons">
              <div class="b-flex btn-group-vertical" role="group">
                <button type="button" class="btn-up">
                  ▲
                </button>
                <button type="button" class="btn-down">
                  ▼
                </button>
              </div>
              <span class="separator"></span>
              <button type="button" class="btn btn-link">
                <i class="fas fa-pencil-alt "></i>
              </button>
              <span class="separator"></span>
              <button type="button" class="btn btn-link">
                <i class="fas fa-trash-alt "></i>
              </button>
            </div>
          </th>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>

  <div class="text-center">
    <%= link_to '<i class="p-1 fas fa-plus"></i>  Add TODO List'.html_safe, new_modal_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#projectModal-window', class: 'btn btn-primary btn-lg '} %>
    <div id="projectModal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
    <p class="text-center text-white mt-3">© Ruby Garage</p>
  </div>
</div>
